/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
  padding: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active, a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
}

h4 {
  margin: 0;
}

h5 {
  margin: 0;
}

h6 {
  margin: 0;
}

p {
  margin: 0;
}

blockquote {
  margin: 0;
}

/**
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type=search] {
  -webkit-appearance: textfield; /* 1 */
  box-sizing: content-box; /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

ul {
  padding-left: 0;
  list-style: none;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.code__example-desc, .about-text, .header-logo {
  font-family: "Preahvihear", sans-serif;
}

.courses__project-desc, .courses__project-title, .courses__project-course-name, .section__courses-projects-title, .skill__item-title, .section__skills-title, .profile__status, .profile-name, .header__list li a {
  font-family: "Poppins", sans-serif;
}

.header__list li a {
  transition: all 0.3s ease;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background: #11071F;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.courses__project-text a, .code__example-desc a, .about-text:nth-child(1) a {
  position: relative;
  color: #ffffff;
  padding: 3px 5px 0;
}
.courses__project-text a::after, .code__example-desc a::after, .about-text:nth-child(1) a::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: orange;
  transform: rotate(3deg);
  z-index: -1;
}

.header {
  background: #1A0B2E;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.navbar__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  color: #ffffff;
  font-size: 40px;
}

.header__list {
  display: flex;
}
.header__list li {
  margin-right: 30px;
}
.header__list li:last-child {
  margin-right: 0;
}
.header__list li a {
  padding: 20px;
  font-size: 2rem;
  color: #ffffff;
  text-decoration: none;
}
.header__list li a:hover {
  color: #000000;
  background: #ffffff;
}

.section__header-wrapper {
  position: relative;
  padding-left: 70px;
  margin: 200px 0 150px;
}
.section__header-wrapper::before {
  content: "";
  display: block;
  position: absolute;
  left: 96px;
  width: 136px;
  height: 100px;
  background-image: url("../../img/decorative/dots.svg");
}

.header__profile {
  display: flex;
  align-items: center;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.profile__image {
  position: relative;
  width: 400px;
  height: 400px;
}
.profile__image::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 400px;
  border-radius: 431px;
  background: radial-gradient(50% 50% at 50% 50%, #763CAC 0%, rgba(50, 15, 133, 0) 100%);
  z-index: -1;
  animation: blink 2s infinite;
}
.profile__image::after {
  content: "";
  display: block;
  position: absolute;
  right: -45px;
  bottom: -45px;
  width: 115px;
  height: 115px;
  background-image: url("../../img/decorative/gray-shapes-arrows.svg");
  background-repeat: no-repeat;
  z-index: -2;
}

.profile__image-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.profile__about {
  margin-left: 40px;
}

.profile-name {
  position: relative;
  font-size: 3.5rem;
  color: #ffffff;
  padding-left: 15px;
  margin-bottom: 25px;
}
.profile-name::before {
  content: "";
  display: block;
  width: 92px;
  height: 82px;
  position: absolute;
  top: -50px;
  left: -85px;
  transform: rotate(40deg);
  background-image: url("../../img/decorative/arrow.svg");
}

.profile__status {
  font-size: 4rem;
  color: #ffffff;
}
.profile__status #profile-cursor {
  margin-left: 10px;
  transition: visibility 0.4s ease-in-out;
}

.profile__status-status {
  color: #7127ba;
}

.about-me {
  display: flex;
  min-height: 400px;
  padding-left: 100px;
  margin-bottom: 120px;
}

.about-text {
  max-width: 550px;
  height: auto;
  font-size: 1.8rem;
  line-height: 35px;
  color: #ffffff;
}
.about-text:nth-child(1) {
  align-self: flex-start;
  margin: 0 55px 15px 0;
  text-indent: 5px;
}
.about-text:nth-child(2) {
  align-self: flex-end;
  margin-bottom: 15px;
}

.section__skills {
  margin-bottom: 120px;
}

.section__skills-title {
  position: relative;
  font-size: 4rem;
  color: #ffffff;
  margin-bottom: 80px;
}
.section__skills-title::before {
  content: "";
  display: block;
  width: 32px;
  height: 32px;
  position: absolute;
  top: 15px;
  left: -50px;
  background-image: url("../../img/light-bulb.png");
}

.section__skills-wrapper {
  display: grid;
  grid-template-columns: repeat(6, 150px);
  gap: 40px;
}

.item-logo {
  background: #ffffff;
  width: 150px;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 15px;
}

.skill__item-title {
  width: 150px;
  text-align: center;
  font-size: 2rem;
  color: #ffffff;
}

.section-code__example {
  margin-bottom: 200px;
  position: relative;
}
.section-code__example::before {
  content: "";
  display: block;
  position: absolute;
  width: 142px;
  height: 242px;
  transform: rotate(-40deg);
  bottom: -100px;
  left: 140px;
  background-image: url("../../img/decorative/circles.svg");
}
.section-code__example::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 55px;
  width: 128px;
  height: 128px;
  background-image: url("../../img/coding.png");
}

.code__example-title {
  position: relative;
  color: #ffffff;
  font-size: 4rem;
  margin-bottom: 50px;
}
.code__example-title::before {
  content: "";
  display: block;
  width: 64px;
  height: 64px;
  position: absolute;
  top: -10px;
  left: -80px;
  background-image: url("../../img/code.png");
}

.code__example-desc {
  color: #ffffff;
  font-size: 2rem;
  padding-left: 10px;
  margin-bottom: 30px;
}

.code__example-wrapper {
  border-radius: 10px;
}

pre[class*=language-] {
  padding: 0;
  margin: 0;
}

code[class*=language-] {
  font-size: 20px;
  text-shadow: none;
}

.language-css .token.string,
.style .token.string,
.token.entity,
.token.operator,
.token.url {
  background: none;
}

.section__courses-projects {
  margin-bottom: 200px;
}

.section__courses-projects-title {
  position: relative;
  color: #ffffff;
  font-size: 4rem;
  margin-bottom: 70px;
}
.section__courses-projects-title::before {
  content: "";
  display: block;
  width: 32px;
  height: 32px;
  position: absolute;
  top: 15px;
  left: -50px;
  background-image: url("../../img/course-projects.png");
}

.courses__project-course-name {
  color: #9857D3;
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 0.32px;
}

.courses__project-title {
  color: #CCD6F6;
  font-size: 3.4rem;
  font-weight: 600;
  letter-spacing: 0.68px;
  margin-bottom: 50px;
}

.courses__project-desc {
  display: flex;
  align-items: center;
  color: #CCD6F6;
  font-size: 1.8rem;
  margin-bottom: 140px;
}

.courses__project-info {
  display: flex;
  flex-direction: column;
}

.right-project {
  flex-direction: row-reverse;
}

.courses__project-text {
  max-width: 669px;
  height: auto;
  padding: 30px 40px;
  border-radius: 14px;
  background: radial-gradient(151.92% 127.02% at 15.32% 21.04%, rgba(105, 59, 147, 0.2) 0%, rgba(110, 191, 244, 0.04) 77.08%, rgba(70, 144, 212, 0) 100%);
}
.courses__project-text.left-text {
  margin: 0 -15px 30px 0;
}
.courses__project-text.right-text {
  margin: 0 0 30px -15px;
}

.project__skill-list {
  display: flex;
  margin-bottom: 25px;
}
.project__skill-list li {
  margin-right: 20px;
}
.project__skill-list li:last-child {
  margin-right: 0;
}

.project__skill-item {
  width: 60px;
  background: #ffffff;
  padding: 10px;
  border-radius: 14px;
}

.project__image {
  position: relative;
}
.project__image::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 642px;
  height: 642px;
  border-radius: 720px;
  background: radial-gradient(50% 50% at 50% 50%, #763CAC 0%, rgba(50, 15, 133, 0) 100%);
  z-index: -1;
}

.project__image-img {
  width: 470px;
  height: 315px;
  border-radius: 10px;
}

.slider-image,
.gallery-image,
.drag-drop-image {
  width: 560px;
  height: 330px;
}

.mini-game-image,
.aim-game-image {
  -o-object-fit: cover;
     object-fit: cover;
}

.right-row {
  align-self: flex-end;
}

.project-github {
  display: flex;
  align-items: center;
  position: relative;
  color: #ffffff;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  padding-left: 30px;
}
.project-github::before {
  content: "";
  display: inline-block;
  position: absolute;
  left: -10px;
  width: 32px;
  height: 32px;
  background-color: #ffffff;
  border-radius: 50%;
  background-image: url("../../img/github_mini-logo.png");
}

.section__team-projects {
  margin-bottom: 200px;
}

.team__projects-title {
  position: relative;
  color: #ffffff;
  font-size: 4rem;
  margin-bottom: 70px;
}
.team__projects-title::before {
  content: "";
  display: block;
  width: 32px;
  height: 32px;
  position: absolute;
  top: 8px;
  left: -45px;
  background-image: url("../../img/team.png");
}

.createx-image {
  -o-object-fit: cover;
     object-fit: cover;
}

.section__pet-projects {
  margin-bottom: 180px;
}

.pet__projects-title {
  position: relative;
  color: #ffffff;
  font-size: 4rem;
  margin-bottom: 70px;
}
.pet__projects-title::before {
  content: "";
  display: block;
  width: 64px;
  height: 64px;
  position: absolute;
  top: -8px;
  left: -80px;
  background-image: url("../../img/pet-projects.png");
}

.virtual-keyboard-image {
  width: 640px;
  height: 300px;
}

.month-ago-image {
  width: 590px;
  height: 285px;
}

.async-await-image {
  -o-object-fit: cover;
     object-fit: cover;
}/*# sourceMappingURL=styles.css.map */