.about__me {
    display: flex;
    min-height: 400px;
    padding-left: 100px;
    margin-bottom: 120px;
}

.about__me-title {
    display: none;
}

.about-text {
    max-width: 550px;
    height: auto;
    @extend %font-prim;
    font-size: 1.8rem;
    line-height: 35px;
    color: $color-white;
    &:nth-child(1) {
        align-self: flex-start;
        margin: 0 55px 15px 0;
        text-indent: 5px;
        @extend %decor-link;
    }
    &:nth-child(2) {
        position: relative;
        align-self: flex-end;
        margin-bottom: 15px;
        &::before {
            content: "About me";
            text-align: center;
            position: absolute;
            top: -120px;
            display: block;
            width: 80%;
            height: auto;
            color: $color-gray;
            font-size: 7rem;
            font-weight: 600;
            @extend %font-prim;
            transform: rotate(10deg);
        }
    }
}