.section-code__example {
    margin-bottom: 120px;
    position: relative;
    &::before {
        content: "";
        display: block;
        position: absolute;
        width: 142px;
        height: 242px;
        transform: rotate(-40deg);
        bottom: -100px;
        left: 140px;
        background-image: url('../../img/decorative/circles.svg');
    };

    &::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: 55px;
        width: 128px;
        height: 128px;
        background-image: url('../../img/coding.png');
    };
}

.code__example-title {
    position: relative;
    color: $color-white;
    font-size: 4rem;
    margin-bottom: 50px;
    &::before {
        content: "";
        display: block;
        width: 64px;
        height: 64px;
        position: absolute;
        top: -10px;
        left: -80px;
        background-image: url('../../img/code.png');
    }
}

.code__example-desc {
    color: $color-white;
    font-size: 2rem;
    @extend %font-prim;
    padding-left: 10px;
    margin-bottom: 30px;
    & a {
        position: relative;
        color: $color-white;
    }
    & a::after {
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%; 
        background-color: orange;
        transform: rotate(3deg);
        z-index: -1;
    }
}

.code__example-wrapper {
    border-radius: 10px;
}

pre[class*=language-] {
    padding: 0;
    margin: 0;
}

code[class*=language-] {
    font-size: 20px;
    text-shadow: none;
}

.language-css .token.string, 
.style .token.string, 
.token.entity, 
.token.operator, 
.token.url {
    background: none;
}