.footer {
    padding: 35px 0;
}

.footer-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include media-mobile {
        flex-direction: column;
    }
}

.footer-title {
    color: $color-white;
    font-size: 2.5rem;
    @extend %font-add;
    & span {
        color: $color-fiolet;
    };

    @include media-smallmobile {
        font-size: 2rem;
    }
}

.footer-github {
    @include media-mobile {
        margin: 25px 0;
    }
    @include media-smallmobile {
        width: 50px;
    }
}

.rsschool:hover path {
    fill: $color-fiolet;
    transition: fill .3s ease;
}