.section__pet-projects {
    margin-bottom: 180px;
}

.pet__projects-title {
    position: relative;
    color: $color-white;
    font-size: 4rem;
    margin-bottom: 70px;
    &::before {
        content: "";
        display: block;
        width: 64px;
        height: 64px;
        position: absolute;
        top: -8px;
        left: -80px;
        background-image: url('../../img/pet-projects.png');
    }
}

.virtual-keyboard-image {
    width: 640px;
    height: 300px;
}

.month-ago-image {
    width: 590px;
    height: 285px;
}

.async-await-image {
    object-fit: cover;
}