.section__pet-projects {
    margin-bottom: 180px;
}

.pet__projects-title {
    color: $color-white;
    font-size: 4rem;
    margin-bottom: 70px;
}

.virtual-keyboard-image {
    width: 640px;
    height: 300px;
}

.month-ago-image {
    width: 590px;
    height: 285px;
}

.async-await-image {
    object-fit: cover;
}