.section__pet-projects {
    margin-bottom: 180px;

    @include media-smallmobile {
        margin-bottom: 120px;
    }
}

.virtual-keyboard-image {
    width: 640px;
    height: 300px;

    @include media-mobile {
        width: 360px;
        height: 210px;
    }

    @include media-smallmobile {
        width: 230px;
        height: 145px;
    }
}

.month-ago-image {
    width: 590px;
    height: 285px;

    @include media-mobile {
        width: 360px;
        height: 210px;
    }
    @include media-smallmobile {
        width: 230px;
        height: 145px;
    }
}

.async-await-image {
    object-fit: cover;
}