.section__skills {
    margin-bottom: 120px;
}

.section__skills-title {
    position: relative;
    font-size: 4rem;
    @extend %font-add;
    color: $color-white;
    margin-bottom: 80px;
    &::before {
        content: "";
        display: block;
        width: 32px;
        height: 32px;
        position: absolute;
        top: 15px;
        left: -50px;
        background-image: url('../img/title_icons/light-bulb.png');
    };

    @include media-minlaptop {
        text-align: center;
        &::before {
            content: none;
        }
    }

    @include media-mobile {
        font-size: 3.6rem;
    }

    @include media-smallmobile {
        font-size: 2.7rem;
    }
}

.section__skills-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;

    @include media-mobile {
        justify-content: center;
    }
}

.skill-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-logo {
    display: flex;
    justify-content: center;
    width: 150px;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
    background: $color-white;
}

@include media-smallmobile {
    .item-logo {
        width: 120px;
        
        & img {
            width: 80px;
        }
    }
}

.skill__item-title {
    width: 150px;
    text-align: center;
    @extend %font-add;
    font-size: 2rem;
    color: $color-white;
}