.section__team-projects {
    margin-bottom: 200px;

    @include media-smallmobile {
        margin-bottom: 120px;
    }
}

.courses__project-text {
    @extend %decor-link;
}

.createx-image {
    object-fit: cover;
}