html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    background: $color-prim;
}

.page__body {
    overflow-x: hidden;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    @include media-laptop {
        padding: 0 60px;
    }
    @include media-smallmobile {
        padding: 0 35px;
    }
}

.projects__title {
    position: relative;
    color: $color-white;
    @extend %font-add;
    font-size: 4rem;
    margin-bottom: 70px;

    @include media-minlaptop {
        text-align: center;
    }

    @include media-mobile {
        font-size: 3.6rem;
    }

    @include media-smallmobile {
        font-size: 2.3rem;
        margin-bottom: 45px;
    }
}

.courses-title::before {
    content: "";
    display: block;
    width: 32px;
    height: 32px;
    position: absolute;
    top: 15px;
    left: -50px;
    background-image: url('../img/title_icons/course-projects.png');

    @include media-minlaptop {
        content: none;
    }
};

.team-title::before {
    content: "";
    display: block;
    width: 32px;
    height: 32px;
    position: absolute;
    top: 8px;
    left: -45px;
    background-image: url('../img/title_icons/team.png');

    @include media-minlaptop {
        content: none;
    }
};

.pet-title::before {
    content: "";
    display: block;
    width: 64px;
    height: 64px;
    position: absolute;
    top: -8px;
    left: -80px;
    background-image: url('../img/title_icons/pet-projects.png');

    @include media-minlaptop {
        content: none;
    }
}